

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Creation Successfully</title>
</head>
<body>
<h1>Congratulations</h1>
<p>Your Account has been created Successfully. Your Account Details are below, kindly keep it safe.</p>
<br>
<p>Username:{{ username }} </p>
<p>Password: {{ password }} </p>
<br>

{#<p> Kindly Change your Password Here</p>#}
<a href="{{ protocol }}://{{ domain }}{% url 'password_change' username%}">Change Password</a>

<p>If you are unable to login, you can reset your password using this url below</p>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset' %}">Password reset</a>

</body>
</html>