{% extends 'registration/base.html' %}
{% block title %} Change Password  {% endblock title %}

{% block form_title %} <h2>Change Password</h2>{% endblock %}
{% block content %}

    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
        typed it in correctly.</p>
    <form class="" action="#" method="post">
        {% include 'registration/form.html' %}
        <input type="submit" value="submit" name="register">
    </form>
    <a href="{% url 'login' %}">Login</a>

{% endblock content %}
