{% extends 'registration/base.html' %}

{% block title %} Password Reset Done {% endblock %}
<!-- Page content -->
{% block form_title %} <h2>Password Reset Done</h2> {% endblock %}


{% block content %}

		<p class="text-success">We've emailed you instructions for setting your password. You should receive the email
                            shortly! </p>
        <div class="text-center">
                            <a href="{% url 'password_reset' %}" class="btn btn-sm btn-primary">
                                <small>Resend</small>
                            </a>
        </div>
		<h6><a href="{% url 'login' %}">Login</a></h6>

{% endblock content %}