{% extends 'registration/base.html' %}

{% block title %} Password Reset Form {% endblock %}
<!-- Page content -->

{% block form_title %}<h2>Password Reset Form</h2>{% endblock %}

{% block content %}


		<p>Enter the email you register with your account </p>
    <form class="" action="#" method="post">
        {% include 'registration/form.html' %}
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset Password</button>
{#        <input type="submit" value="Reset Password" name="request_password_email">#}
    </form>
		<h6><a href="{% url 'login' %}">Login</a></h6>

{% endblock content %}